* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'HelveticaNeue-UltraLight', cursive; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* outline: 1px solid red !important; */
}

.inner {
    width: 340px; /* 0010 */
    height: 750px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 310px 100px 270px;
    background-color: #101010;
}

/* Timer */

.crontab {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;
    font-weight: 100;
    padding-top: 65px;
    font-variant-numeric: tabular-nums;
}

/* Buttons */

.buttons-container {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 100px 120px 100px;
}

.button-wrapper {
    padding: 13%;
}

.out {
    border: 1px solid #101010;
    background-color: #48484A;
    padding-top: 1px;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size:0.8em;
    font-weight: 350;
}

.reset {
    background-color: #3e3e3e;
    box-shadow: 0 0 0 1px #3e3e3e, inset 0 0 0 1px #101010;
    color: #fdfdfd;
    color: rgba(253, 253, 253, 0.8)
}

.start {
    background-color: #172e1c;
    box-shadow: 0 0 0 1px #172e1c, inset 0 0 0 1px #101010;
    color: #50d963;
    color: rgba(80, 217, 99, 0.8);
}

.stop {
    background-color: #331314;
    box-shadow: 0 0 0 1px #331314, inset 0 0 0 1px #101010;
    color: #f24034;
    color: rgba(242, 64, 52, 0.8);
}

/* Lil buttons in the middle */

.circle-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 7px;
    height: 7px;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
}

.white {
    background-color: white;
}

.grey {
    background-color: #3e3e3e;
}

/* Laps */

.lap-container {
    padding: 0 3%;
    font-size: small;
    margin-right: 2px;
    overflow: auto;
    overflow-y: auto;
    color: rgb(136, 136, 136, 0);
    scrollbar-gutter: both-edges stable;
    transition: color 0.5s ease;
    /* Firefox support */
    scrollbar-color: rgb(136, 136, 136, 1) #101010;
    scrollbar-width: thin;
}

.lap-container:hover {
    color: rgb(136, 136, 136, 0.8);
}

.lap-table {
    color: white;
    width: 100%;
    border-top: 1px solid #292929;
    border-collapse: collapse; 
}

#lap-list tr td {
    height: 35px; /* 0102 */
}

#lap-list tr td:last-child {
    text-align: right;  /* 0112 */
}

.lap {
    border-bottom: 1px solid #292929;
    font-variant-numeric: tabular-nums;
}

.highest {
    color: #f24034;
    color: rgba(242, 64, 52, 0.8);
}

.lowest {
    color: #50d963;
    color: rgba(80, 217, 99, 0.8);
}

/* Scrollbar */

/* Width */
.lap-container::-webkit-scrollbar {
    width: 3px;  /* 0001 ? */
}

/* Handle */
.lap-container::-webkit-scrollbar-thumb {
    border-radius: 15pt;
    /* background-clip: padding-box; */
    box-shadow: inset 0 0 0 10px;
}

/* Footer */

footer {
    border-top: 1px solid #3a3a3a;  /* 0001 */
    background-color: #211e1e;
}