* {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* outline: 1px solid red !important; */
}

/* TODO: Add variable declarations for main colors */

:root {
    --main-bg-color: #101010;
    --grey-bg-color: #3e3e3e;
    --start-bg-color: #172e1c;
    --stop-bg-button: #331314;
    --main-font-color: 253, 253, 253;
}

.main-wrapper {
    width: 390px; /* 0010 */
    height: 844px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 40% 15% 35% 10%;
    background-color: var(--main-bg-color);
}

.inner > div {
    width: 100%;
}

/* Timer */

.crontab {
    color: rgba(var(--main-font-color));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;
    /* font-size: calc(16px + 10px * (100% - 2px)); */
    font-weight: 200;
    padding-top: 65px;
    font-variant-numeric: tabular-nums;
}

.crontab span {
    padding: 5%;
}

/* Buttons */

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

.button-wrapper {
    padding: 20%;
}

.button-wrapper > button {
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 350;
}

.active-reset {
    background-color: var(--grey-bg-color);
    box-shadow: 0 0 0 1px var(--grey-bg-color), inset 0 0 0 1px var(--main-bg-color);
    color: rgba(var(--main-font-color), 0.8)
}

.active-start {
    background-color: var(--start-bg-color);
    box-shadow: 0 0 0 1px var(--start-bg-color), inset 0 0 0 1px var(--main-bg-color);
    color: #50d963;
    color: rgba(80, 217, 99, 1);
}

.active-stop {
    background-color: var(--stop-bg-button);
    box-shadow: 0 0 0 1px var(--stop-bg-button), inset 0 0 0 1px var(--main-bg-color);
    color: #f24034;
    color: rgba(242, 64, 52, 0.8);
}

/* Lil buttons in the middle */

.circle-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 7px;
    height: 7px;
    background-color: rgb(var(--main-font-color));
    border-radius: 50%;
}

.circle:first-child {
    background-color: rgb(var(--main-font-color));
}

.circle:last-child {
    background-color: var(--grey-bg-color);
}

/* Laps */

.lap-container {
    padding: 0 3%;
    font-size: 200;
    font-weight: 300;
    margin-right: 2px;
    overflow: auto;
    overflow-y: auto;
    color: rgb(136, 136, 136, 0);
    scrollbar-gutter: both-edges stable;
    transition: color 0.8s ease-out;
    /* Firefox support */
    scrollbar-color: rgb(136, 136, 136, 1) var(--main-bg-color);
    scrollbar-width: thin;
}

.scrollbar-fade {
    color: rgb(136, 136, 136, 0.8);
}

.lap-table {
    color: rgb(var(--main-font-color));
    width: 100%;
    border-top: 1px solid #292929;
    border-collapse: collapse; 
}

#lap-list tr td {
    height: 2.8rem; /* 0102 */
}

#lap-list tr td:last-child {
    text-align: right;  /* 0112 */
}

.lap {
    border-bottom: 1px solid #292929;
    font-variant-numeric: tabular-nums;
}

.highest {
    color: #f24034;
    color: rgba(242, 64, 52, 0.8);
}

.lowest {
    color: #50d963;
    color: rgba(80, 217, 99, 0.8);
}

/* Scrollbar */

/* Width */
.lap-container::-webkit-scrollbar {
    width: 3px;  /* 0001 ? */
}

/* Handle */
.lap-container::-webkit-scrollbar-thumb {
    border-radius: 15pt;
    /* background-clip: padding-box; */
    box-shadow: inset 0 0 0 10px;
}

/* Footer */

footer {
    border-top: 1px solid #3a3a3a;  /* 0001 */
    background-color: #211e1e;
}
