.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 600px;
    display: grid;
    grid-template-rows: auto 20% auto;
    background-color: #101010;
}

.buttons {
    display: grid;
    grid-template-columns: auto 35% auto;
}

.lap {
    padding: 15%;
}

.out {
    border: 1px solid black;
    padding-top: 1px;
    border-radius: 50%;
    /* border-style: double; */
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey {
    background-color: #48484A;
}

.red {
    background-color: #FF375F;;
    opacity: 50%;
}

.buttons div {
    /* border: 1px solid white; */
}